<h1 class="bg-red-400 flex justify-center p-8 mb-3">Bienvenido al chat:</h1>

<div class="bg-black">
  <div class="flex justify-center p-4">
    <label for="">Mensaje: </label>
    <br />
    <input class="text-black border-s-violet-950" type="text" id="chatBox" />
  </div>

  <div>
    <p id="messagesLogs"></p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
<script src="js/chat.js"></script>